*.RData
*.Rhistory
*.DS_Store
*.txt
*.pdf
*.Rproj
*.csv
.env

# directories to ignore
results/
images/
queue/
data/*
build/
cpp/*/fit_model*
.idea/

# exceptions
!data/mesh/
!data/mesh/**
.Rproj.user
