print_level 0
sb yes
print_user_options no
print_timing_statistics no

hessian_approximation exact
nlp_scaling_method none

mu_strategy adaptive

tol 1e-9

acceptable_tol 1e-6
acceptable_iter 5

bound_push 1e-12
bound_frac 1e-12
bound_relax_factor 0
